<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627022913207-skfc3815hlocthcpl5brb7j1sn8gcels.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627022913207-skfc3815hlocthcpl5brb7j1sn8gcels</string>
	<key>API_KEY</key>
	<string>AIzaSyClKecxoxAlGvLdA6SJEwdOjrFWJDrJ6bM</string>
	<key>GCM_SENDER_ID</key>
	<string>627022913207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hoodle.hoodle</string>
	<key>PROJECT_ID</key>
	<string>hoodle-2d742</string>
	<key>STORAGE_BUCKET</key>
	<string>hoodle-2d742.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627022913207:ios:ea2494791c2e8df918b732</string>
	<key>DATABASE_URL</key>
	<string>https://hoodle-2d742-default-rtdb.firebaseio.com</string>
</dict>
</plist>